# ignore everything
/*

# except...
!.gitignore
!README.md
!/snippets
!*.py
!*.tmPreferences
!*.sublime-build
!*.sublime-keymap
!*.sublime-project
!*.sublime-settings
!*.sublime-commands
!*.sublime-color-scheme
!Seti_UI

# but DO ignore this guy, it has my GitHub API token
GitSavvy.sublime-settings
