# ignore everything
/*

# except...
!.gitignore
!README.md
!/snippets
!*.py
!*.sublime-build
!*.sublime-keymap
!*.sublime-commands
!*.sublime-theme
!/pyrightconfig.json
!/ruff.toml
!/pre-push

# and these settings files
!ApplySyntax.sublime-settings
!bh_core.sublime-settings
!Emmet.sublime-settings
!GitGutter.sublime-settings
!Gofmt.sublime-settings
!golang.sublime-settings
!JsPrettier.sublime-settings
!LSP.sublime-settings
!Markdown.sublime-settings
!nginx.sublime-settings
!open_url.sublime-settings
!Package\ Control.sublime-settings
!Preferences.sublime-settings
!Requester.sublime-settings
!sublack.sublime-settings
!SublimeLinter.sublime-settings
!LSP-gopls.sublime-settings
